* {
    margin: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body > video {
    height: 100%;
    width: auto;
}

