* {
    margin: 0;
}

body, ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
}

#wallpaperPath {
    display : none;
}


@media (prefers-color-scheme : dark) {

}